*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    background: #020617;
    position: sticky;
    top: 0;
    border-radius: 20px;
}

.navbar{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;

}
.navbar a{
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #2196f3;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.navbar:hover{

    color: #ffffff;
    transform: translateY(-2px);}
.navbar:active{
    transform:  scale(0.95);
}

body{
    margin: 0;
    background: #e5e5e5;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.card{
    background: linear-gradient(135deg,#00e676,#2196f3);
    width: 320px;
    padding: 20px;
    border-radius: 16px;
    color: #000;
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.card img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.profile img{
    width: 180px;
}

.age{
    font-weight: bold;
    margin: 5px 0;
}

.desc{
    font-size: 14px;
}

.skills{
    margin: 15px 0;
}

.skills span{
    background: rgba(255,255,255,0.7);
    padding: 5px 12px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
}

ul{
    text-align: left;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0d47a1;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover{
    background: #fff;
    color: #0d47a1;
}
